.contacts {
    margin: 200px 0px;
}

.title {
    font-size: 35px;
    font-weight: 900px;
    margin-bottom: 30px;
}

.rigth {
    width: 50vw;
    height: 400px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.socials {
    gap: 20px;
    display: flex;
}

@media (orientation: portrait) {
    .content {
        flex-direction: column;
        align-items: flex-start;
        gap: 60px;
    }

    .rigth {
        width: 80vw;
    }

    .left {
        gap: 20px;
    }
}